.App-header {
  color: blue;
}
.container {
  position: relative;
  min-height: 100vh;
}

.textarea-parent {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea {
  width: 50%;
  height: auto;
  margin-bottom: 4%;
  resize: none;
}

ul{
    list-style-type: none;
}
